interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')?$format=json
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value"},"Id":"1f62a176-c980-41dc-b3a1-c735d660c910","Name":"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","ContentType":"application/octet-stream","ContentLength":"130006","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447779361826)\/","IngestionDate":"\/Date(1447779361826)\/","EvictionDate":null,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1433323584921)\/","End":"\/Date(1433324013345)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"B3935469F6F643C123B11CD6C58954A1"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>42.260288,-47.310867
        42.298096,-47.558411 42.476940,-47.508129 42.439095,-47.259823 42.260288,-47.310867</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Metalink":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><metalink xmlns=\"urn:ietf:params:xml:ns:metalink\"><file
        name=\"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.zip\"><hash
        type=\"MD5\">B3935469F6F643C123B11CD6C58954A1</hash><size>130006</size><url>https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value</url></file></metalink>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Class"}}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['2.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-xxxx-c735d660c910')?$format=json
  response:
    body: {string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid
        key (1f62a176-c980-41dc-xxxx-c735d660c910) to access Products"}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['1.0']
      cause-message: ['InvalidKeyException : Invalid key (1f62a176-c980-41dc-xxxx-c735d660c910)
          to access Products']
    status: {code: 500, message: Internal Server Error}
- request:
    body: q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E+OR+S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A+OR+S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=2&rows=100\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"type\": \"\
        application/opensearchdescription+xml\",\n         \"href\": \"opensearch_description.xml\"\
        \n      }\n   ],\n   \"xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\",\n\
        \   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\"\
        : \"Sentinels Scientific Data Hub search results for: S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\",\n\
        \   \"updated\": \"2017-04-09T20:41:17.509Z\",\n   \"opensearch:totalResults\"\
        : \"3\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2015-05-26T08:16:40.873Z,\
        \ Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1, Size: 11.09 KB\"\
        ,\n         \"id\": \"5618ce1b-923b-4df2-81d9-50b53e5aded9\",\n         \"\
        title\": \"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"T\",\n\
        \               \"name\": \"processed\"\n            },\n            {\n \
        \              \"content\": \"NOMINAL\",\n               \"name\": \"acquisitiontype\"\
        \n            },\n            {\n               \"content\": \"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>3.979146,147.846664 4.018075,148.030945\
        \ 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        ,\n               \"name\": \"gmlfootprint\"\n            },\n  [...]
[...]
