interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products?$format=json&$top=3&$orderby=ContentLength&$filter=Online%20eq%20false
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/$value"},"Id":"23762843-6ff6-4af9-a600-db2e929eb39e","Name":"S1A_IW_RAW__0SDV_20170306T144109_20170306T144141_015573_019997_65C9","ContentType":"application/octet-stream","ContentLength":"6535","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1561809160782)\/","IngestionDate":"\/Date(1488834860133)\/","ModificationDate":"\/Date(1488834929466)\/","EvictionDate":null,"Online":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1488811269407)\/","End":"\/Date(1488811301807)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"5ACF19315EA008D4ED127740BC884AFA"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>25.1546,52.0774
        27.1126,51.6985 26.8427,49.2424 24.8836,49.6628 25.1546,52.0774 25.1546,52.0774</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''23762843-6ff6-4af9-a600-db2e929eb39e'')/Class"}}},{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''04bf854d-cc21-4e34-acd0-5dd95bd78e4a'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''04bf854d-cc21-4e34-acd0-5dd95bd78e4a'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''04bf854d-cc21-4e3[...]
