interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('fb30069b-1081-44b9-8e65-314b989dc7fb')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/$value"},"Id":"fb30069b-1081-44b9-8e65-314b989dc7fb","Name":"S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003","ContentType":"application/octet-stream","ContentLength":"294143","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1545160200495)\/","IngestionDate":"\/Date(1545159511440)\/","ModificationDate":"\/Date(1545159511440)\/","EvictionDate":null,"Online":true,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1542944646870)\/","End":"\/Date(1542944650741)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"2C48A9E7D54D056423A630D5EAA11EA2"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>68.2514,-108.283
        68.3574,-108.417 68.4633,-108.553 68.4625,-108.557 68.3566,-108.422 68.2506,-108.287
        68.2514,-108.283</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('791810f5-034b-4f0c-96b2-70865a3fcbac')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003.zip"
      content-range:
      - bytes 0-297223/297224
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 78BE0E00C606FFDA6C0BB392F4BEAD0C
      last-modified:
      - Tue, 18 Dec 2018 18:55:59 UTC
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('fb30069b-1081-44b9-8e65-314b989dc7fb')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003.zip"
      content-range:
      - bytes 0-294142/294143
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 2C48A9E7D54D056423A630D5EAA11EA2
      last-modified:
      - Tue, 18 Dec 2018 19:10:00 UTC
    status:
      code: 200
      message: OK
version: 1
