interactions:
- request:
    body: q=ingestiondate%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: ingestiondate:[\"NOW-1DAY\" TO \"NOW\"]","subtitle":"Displaying
        0 to -1 of 35776 total results. Request done in 0.006 seconds.","updated":"2020-07-24T21:55:00.437Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]","opensearch:totalResults":"35776","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=0&rows=0"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=0&rows=0"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=NaN&rows=0"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=35775&rows=0"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: q=beginposition%3A%5B%22NOW%2FMONTH%22+TO+%2A%5D+identifier%3A%2FS%5B12+%5DA.%2A%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginposition:[\"NOW/MONTH\" TO *]
        identifier:/S[12 ]A.*/","subtitle":"Displaying 0 to -1 of 328302 total results.
        Request done in 0.427 seconds.","updated":"2020-07-24T21:55:02.705Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/","opensearch:totalResults":"328302","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/&start=0&rows=0"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/&start=0&rows=0"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/&start=NaN&rows=0"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[\"NOW/MONTH\"
        TO *] identifier:/S[12 ]A.*/&start=328301&rows=0"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
