interactions:
- request:
    body: q=xxx%3Ayyy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: xxx:yyy","subtitle":"Displaying  results.
        Request done in 0 seconds.","updated":"2020-07-24T21:42:43.176Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=xxx:yyy","opensearch:totalResults":null,"opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"xxx:yyy","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=xxx:yyy&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=xxx:yyy&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=xxx:yyy&start=NaN&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
