interactions:
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1DAY\" TO \"NOW\"]
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 45 results.
        Request done in 0.014 seconds.","updated":"2020-07-24T21:39:27.274Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"45","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=44&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3B_OL_1_EFR____20200724T142958_20200724T143258_20200724T161420_0179_041_267_2880_LN1_O_NR_002","link":[{"href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''5b530cd3-45a4-4eb0-a85f-f848b2560c3c'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''5b530cd3-45a4-4eb0-a85f-f848b2560c3c'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''5b530cd3-45a4-4eb0-a85f-f848b2560c3c'')/Products(''Quicklook'')/$value"}],"id":"5b530cd3-45a4-4eb0-a85f-f848b2560c3c","summary":"Date:
        2020-07-24T14:29:57.603Z, Instrument: OLCI, Mode: , Satellite: Sentinel-3,
        Size: 699.51 MB","date":[{"name":"beginposition","content":"2020-07-24T14:29:57.603Z"},{"name":"endposition","content":"2020-07-24T14:32:57.603Z"},{"name":"creationdate","content":"2020-07-24T16:14:20Z"},{"name":"ingestiondate","content":"2020-07-24T18:05:26.467Z"}],"int":[{"name":"orbitnumber","content":"11704"},{"name":"relativeorbitnumber","content":"267"}],"str":[{"name":"ecmwf","content":"FORECAST"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-0.121444,-77.0862
        -0.251988,-76.4837 -0.389545,-75.8806 -0.527771,-75.2741 -0.666181,-74.6662
        -0.804007,-74.0602 -0.941493,-73.4549 -1.08127,-72.8428 -1.21865,-72.2375
        -1.35354,-71.6303 -1.49643,-71.0302 -1.63281,-70.426 -1.76935,-69.8201 -1.90703,-69.2025
        -2.04299,-68.5967 -2.17902,-67.9891 -2.31039,-67.3926 -2.44612,-66.784 -2.57853,-66.1775
        -2.71484,-65.569 -0.065684,-64.9852 2.59116,-64.3926 5.24748,-63.7918 7.90291,-63.1805
        8.04528,-63.7937 8[...]
